.example-board {
  padding-top: 150px;
}
.example-list {
  display: flex;
  justify-content: space-between;
}
.example-item {
  width: 400px;
  border: solid 1px #707070;
  background-color: #fff;
  box-shadow: 5px 5px 10px #efefef;
  box-sizing: border-box;
  border: solid 1px #d5d5d5;
}

.example-cover {
  height: 336px;
  background-color: #3e54d3;
}

.example-contents {
  text-align: left;
  padding: 5px 11px 10px 12px;
  font-family: "Noto Sans KR", sans-serif;
}

.example-contents h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

.example-contents span {
  display: block;
  margin-bottom: 10px;
  color: #cfcfcf;
}

.example-contents p {
  color: #8f8f8f;
  font-size: 16px;
}

.example-btn {
  height: 55px;
  text-align: center;
  font-size: 16px;
  background-color: #3e54d3;
  line-height: 3.5;
  color: #fff;
}
