.header {
  width: 100%;
  height: 85px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.wrapper-2 {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.header-logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.header-logo .link {
  display: inline-block;
}

.wrapper-2 > .gnb {
  vertical-align: top;
  margin: 0 auto;
}

.gnb-group-01 {
  display: block;
  padding: 16px 0 18px;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
}

.gnb-group-01 > li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.gnb-group-01 > li > .drop-anchor h2 {
  display: block;
  position: relative;
  padding: 12px 10px;
  border: 0;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #202020;
  font-family: "Noto Sans KR", sans-serif;
}

.gnb-group-01 > li > .drop-anchor h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 2px;
  margin: 0 auto;
  text-align: center;
  background: #202020;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.1s ease;
}

.gnb-group-02 {
  display: none;
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  text-align: center;
  background: #fff;
}

.gnb-group-01 > li:hover .gnb-group-02 {
  display: block;
}

.header-drop-0-inside {
  width: 100%;
  max-width: 1280px;
  padding: 15px 16px 48px;
  margin: 0 auto;
  text-align: center;
}
.header-drop-0-inside > .drop-1 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: left;
  margin: 0 20px;
}

.header-drop-0-inside > .drop-1 > .drop-anchor {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  color: #202020;
}
.drop-3 {
  margin-top: 16px;
}

.drop-3 > li {
  display: block;
  margin: 0 0 12px;
}

@media (min-width: 1160px) {
  .gnb {
    display: inline-block;
  }
}
/* footer */

.footer {
  max-width: 100%;
  height: 224px;
  padding: 52px 0;
  margin-top: 150px;
  background-color: #242424;
}

.footer-item {
  display: flex;
  justify-content: center;
}

.logobox {
  padding-top: 20px;
}
.logobox img {
  width: 200px;
  height: 60px;
}

.footer-content {
  color: #f8f8f8;
  font-size: 0.9rem;
  line-height: 2;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 60px;
  opacity: 0.7;
  font-weight: 400;
}

.footer-content span {
  font-weight: bold;
  margin: 0 12px;
}
