.onkeeper-title-section {
  padding: 120px 0 0 0;
}

.title-contents h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  color: #0d0d0d;
  margin: 40px 0;
}

.title-contents p {
  font-size: 22px;
  font-weight: normal;
  color: #0d0d0d;
  font-family: "NanumSquare";
}

.onkeeper-banner-sec {
  height: 618px;
}

.onkeeper-contents1 {
  padding: 150px 0;
}

.contents1-title {
  text-align: center;
  margin-bottom: 59px;
}
.contents1-title h2 {
  font-size: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  margin-bottom: 17px;
}

.contents1-title p {
  font-size: 18px;
}

.contents1-cover-img {
  text-align: center;
}

.onkeeper-contents2 {
  height: 268px;
}

/* 온키퍼 특징 */

.onkeeper-point {
  padding: 150px 0 0 0;
}
.on-point-title {
  margin-bottom: 60px;
}
.on-point-title h2 {
  font-size: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
.on-point-group {
  display: flex;
  justify-content: space-between;
}

.point-item-cover {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.point-item-cover img {
  margin-bottom: -12px;
}

.on-point-contents {
  width: 280px;
  padding-top: 39px;
}

.on-point-contents h3 {
  font-family: "NanumSquare";
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

.on-point-contents ul li {
  margin: 10px 0;
  font-size: 15px;
}

/* MES */

.service-page-title {
  padding: 150px 0 90px 0;
}

.service-title-logo-cover,
.service-title-contents {
  text-align: center;
}

.service-title-contents h2 {
  margin: 36px 0 030px 0;
  font-size: 48px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

.service-title-contents p {
  font-size: 18px;
  font-family: "NanumSquare";
  line-height: 30px;
}

.service-banner {
  margin-bottom: 150px;
}

.service-point {
  background-color: #f8f8f8;
  padding: 150px 0;
}

/* 서비스 관리 구성 표 */

.service-manage-section {
  padding: 150px 0;
}

.service-manage-title {
  text-align: center;
  margin-bottom: 57px;
}
.service-manage-title h2 {
  font-size: 36px;
  font-weight: bold;
  color: #0d0d0d;
  font-family: "Noto Sans KR", sans-serif;
}

.service-difference-section {
  padding: 150px 0 0 0;
  text-align: center;
}

.service-difference-section1 {
  padding: 0 0 150px 0;
  text-align: center;
}

.section-title h2 {
  font-size: 36px;
  padding-bottom: 82px;
  font-family: "Noto Sans KR", sans-serif;
  color: #0d0d0d;
  font-weight: bold;
}
