.onkeeper-title-section {
  padding: 120px 0 0 0;
}

.title-contents h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  color: #0d0d0d;
  margin: 40px 0;
}

.title-contents p {
  font-size: 22px;
  font-weight: normal;
  color: #0d0d0d;
  font-family: "NanumSquare";
}

.onkeeper-banner-sec {
  height: 618px;
}

.onkeeper-contents1 {
  padding: 150px 0;
}

.contents1-title {
  text-align: center;
  margin-bottom: 59px;
}
.contents1-title h2 {
  font-size: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  margin-bottom: 17px;
}

.contents1-title p {
  font-size: 18px;
}

.contents1-cover-img {
  text-align: center;
}

.onkeeper-contents2 {
  height: 268px;
}

/* 온키퍼 특징 */

.onkeeper-point {
  padding: 150px 0 0 0;
}
.on-point-title {
  margin-bottom: 60px;
}
.on-point-title h2 {
  font-size: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
.on-point-group {
  display: flex;
  justify-content: space-between;
}

.point-item-cover {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.point-item-cover img {
  margin-bottom: -12px;
}

.on-point-contents {
  width: 280px;
  padding-top: 39px;
}

.on-point-contents h3 {
  font-family: "NanumSquare";
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

.on-point-contents ul li {
  margin: 10px 0;
  font-size: 15px;
}

.on-point-contents ul li::before {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: -20px;
  margin-right: 16px;
  background-color: #568cf7;
  transform: translateY(-2px);
}

/* MES */

.service-page-title {
  padding: 150px 0 90px 0;
}

.service-title-logo-cover,
.service-title-contents,
.service-banber-title {
  text-align: center;
}

.service-title-contents h2 {
  margin: 36px 0 030px 0;
  font-size: 48px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

.service-title-contents p {
  font-size: 18px;
  font-family: "NanumSquare";
  line-height: 30px;
}

.service-banner {
  margin-bottom: 150px;
}
.service-banner-1 {
  margin-bottom: 10;
}

.service-point {
  background-color: #f8f8f8;
  padding: 150px 0;
}

/* 서비스 관리 구성 표 */

.service-manage-section {
  padding: 150px 0;
  text-align: center;
}

.service-manage-title {
  text-align: center;
  margin-bottom: 57px;
}
.service-manage-title h2 {
  font-size: 36px;
  font-weight: bold;
  color: #0d0d0d;
  font-family: "Noto Sans KR", sans-serif;
}

.service-difference-section {
  padding: 150px 0 0 0;
  text-align: center;
}

.service-difference-section1 {
  padding: 0 0 150px 0;
  text-align: center;
}

.section-title h2 {
  font-size: 36px;
  padding-bottom: 82px;
  font-family: "Noto Sans KR", sans-serif;
  color: #0d0d0d;
  font-weight: bold;
}

/* 모니터링 포인트 (원) */
.service-point-tit {
  margin-bottom: 80px;
}

.service-point-tit h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  color: #000;
}
.service-point-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.point-content2 {
  width: 298px;
  text-align: center;
}

.point-content-item {
  padding: 0 16px 0 17px;
}
.point-content-item > div {
  border-radius: 50%;
  background-color: cornflowerblue;
  width: 265px;
  height: 265px;
}

.point-content-text {
  padding-top: 30px;
}

.point-content-text > h3 {
  color: #3e54d3;
  font-size: 21px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 31px;
}

.point-content-text > p {
  text-align: center;
  color: #4b4b4b;
  font-size: 19px;
  font-family: "NanumSquare";
  line-height: 1.43;
}

.service-usecase-section {
  padding: 150px 0;
}

.use-section-subject > h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.use-section-subject {
  height: 52px;
  margin-bottom: 82px;
}

.use-section-title {
  position: relative;
  margin-bottom: 82px;
  height: 360px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.use-section-inside {
  position: relative;
  z-index: 10;
  color: white;
  padding: 60px;
}

.use-section-inside h2 {
  text-align: center;
  font-size: 24px;
  margin-top: -2px;
  margin-bottom: 50px;
  font-weight: bold;
}

.use-section-summary {
  line-height: 1.76;
  font-size: 16px;
}

.use-section-summary li {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.use-section-summary li strong {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.use-section-summary li strong:after {
  content: " ";
  width: 30px;
  height: 1px;
  opacity: 0.4;
  margin: 0 18px 1px 20px;
  background-color: #fff;
}

.use-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e54d3;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 19px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
}

.use-description {
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.booth-square {
  height: 44px;
  line-height: 44px;
  background-color: #2d3e9e;
  max-width: 360px;
  margin: 0 auto -22px auto;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 18px;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.usecase-list {
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

.lists {
  text-align: left;
  line-height: 1.76;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: -7px;
  font-family: "NanumSquare";
}

.lists > li > span {
  font-weight: 800;
}

.lists li:before {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: -20px;
  margin-right: 16px;
  background-color: #568cf7;
  transform: translateY(-2px);
}

.holder {
  margin-left: auto;
  margin-right: auto;
}

.usecase-detail {
  padding: 79px 0 0 0;
}
.booth-detail {
  text-align: center;
}

.usecase-graph {
  text-align: center;
  font-size: 16px;
  line-height: 1.76;
  margin-bottom: -38px;
}

.l_row_hairline {
  margin: 0 -1px -2px -1px;
}

.l_row {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.l_row_hairline .l_col {
  padding: 0 1px;
  margin-bottom: 2px;
}

.l_col_6_12 {
  width: 50%;
}
.l_col {
  box-sizing: border-box;
  padding: 0 20px;
}

.booth-state {
  border-bottom: 1px solid #eee;
  margin-bottom: 38px;
  height: calc(100% - 38px);
}

.booth-state-cover.is_up {
  color: #568cf7;
}

.booth-state-cover {
  background-color: #f7f7f7;
  height: 250px;
  font-size: 2.8rem;
  font-weight: 800;
  overflow: hidden;
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
}

.booth-state-cover.is_up:before {
  background-image: url(../../../public/img/arrow-top.png);
}

.booth-state-cover.is_down {
  color: #93bafb;
}

.booth-state-cover.is_down:before {
  background-image: url(../../../public/img/arrow-bottom.png);
}

.booth-state-cover:before {
  content: " ";
  display: block;
  width: 66px;
  height: 94px;
  margin: 58px auto 6px;
  background-size: contain;
  background-repeat: no-repeat;
}

.booth-state-contents {
  max-width: 180px;
  margin: 0 auto;
  padding: 34px 0 32px;
  font-family: "NanumSquare";
}
.service-banber-title {
  font-size: 28px;
  margin: 0 0 54px;
  font-weight: bold;
}

.ems-point-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.ems-point-title {
  text-align: center;
  margin-bottom: 88px;
  font-size: 36px;
  font-family: "Noto Sans KR", sans-serif;
}

.ems-point-title h2 {
  font-weight: bold;
}

@media (min-width: 1160px) {
  .use-section-subject {
    font-size: 2.8rem;
    margin-bottom: 77px;
    margin-top: -3px;
  }
  .use-section-title {
    height: auto;
  }

  .use-section-inside {
    display: flex;
    padding: 40px 0;
    align-items: center;
  }

  .use-section-inside h2 {
    width: 360px;
    margin: 0;
  }

  .use-section-summary {
    padding: 32px 59px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
  }

  .use-section-summary li {
    margin-bottom: 36px;
  }

  .use-description {
    max-width: 480px;
  }

  .usecase-list {
    margin-bottom: 60px;
  }

  .usecase-list-contents {
    padding: 75px 0 60px 40px;
    box-sizing: border-box;
    max-width: 550px;
    margin: 0 auto;
  }

  .usecase-detail {
    margin: 0 auto 70px auto;
  }

  .l_col_large_3_12 {
    width: 25%;
  }

  .booth-usecase-graph {
    margin-bottom: -40px;
  }
}
